*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    margin-top: 50px;
    margin-bottom: 20px;
    color: black;
    border-bottom: 5px solid black;
    width: 40%;
    text-align: center;
    padding: 10px;
}
#questao
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
p
{
    font-size: 20px;
    width: 40%;
}
.conteudo-formulario
{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: blueviolet;
}
.conteudo
{
    font-size: 16px;
}
.conteudo label
{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}
.conteudo input
{
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}
button
{
    padding: 10px;
    font-size: 15px;
    border-radius: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}
button:hover
{
    background-color: rgb(179, 255, 0);
}

#aviso
{
    font-size: 18px;
}
#voltar
{
    display: flex;
    justify-content: center;
}
#voltar a
{
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}
#voltar a:hover
{
    background-color: red;
}